<h1> <%= @post.titre %> </h1>
    <%= @post.sujet %>

<% @comments.each do |comment| %>
  <p><%= comment.content %></p>
      <% if comment.user == current_user %>
        <%= link_to "Supprimer", post_comments_path(), method: :delete, data: {confirm: "tu es sure?"} %>
      <% end %>
<% end %>


<%= link_to'Création', new_post_comment_path %>
<%= link_to 'Back', posts_path %>
